extends ../layouts/common

block content
  h1 Login
  if errors
    each error in errors
      .alert.alert-danger= error
  form(action="/auth/login" method="POST")
    input(name="email", class="mb-2", placeholder="Your email", type="text", value=values ? values.email : "")
    br
    input(name="password", class="mb-2", placeholder="Your password", type="password", value=values ? values.password : "")
    br
    button(class="btn btn-primary") Sign in