extends ../layouts/common

block content
  .signup-page
    .signin-container.signup-container
      .signin-left
        h1.signin-title Welcome!
        p.signin-desc Enjoy all your benefits.
        form(action="/sign/in" onSubmit="checkAuth1(event)" method="POST")
          div(class= "input-block")
            label.input-label(for='signinEmail') Email
            input#signinEmail(type='', name='signinEmail', placeholder='Email', value=values ? values.name : "")
          div(class= "input-block")
            label.input-label(for='signinPassword') Password
            input#signinPassword(type='password', name='signinPassword', placeholder='Password', value=values ? values.name : "")
          #error-message
          if errors 
            .input-block.input-block-wrong= errors
          .signin-buttons
            a(href='') Forgot your password?
            button.login-button Login
        p.signup
          | Don&apos;t have an account? 
          a(href='/sign/up') Sign up now
      .signin-right
        img(src='/images/banner-phone.jpg')
        
              