extends ../layouts/common

block content
    .signup-page
        .signin-container.signup-container
            .signin-left
              h1.signin-title Sign up form
              p.signin-desc Explore all the benefits. <br> View your purchase and return history
              form(action="/sign/up" onSubmit=" return checkAuth2()" method="POST")
                div(class= "input-block")
                  label.input-label(for='signupEmail') Email
                  input#signupEmail(type='', name='signupEmail', placeholder='Email')
                div(class= "input-block")
                  label.input-label(for='signupPassword') Password
                  input#signupPassword(type='password', name='signupPassword', placeholder='Password')
                div(class= "input-block")
                  label.input-label(for='signupName') Full name
                  input#signupName(type='name', name='signupName', placeholder='Your full name')
                div(class= "input-block")
                  label.input-label(for='signupPhone') Phone number
                  input#signupPhone(type='phone', name='signupPhone', placeholder='Your phone number')
                #error-message
                .signin-buttons
                  a(href='')
                  button.login-button Sign up
            .signin-right
              img(src='/images/banner-phone.jpg')
              