extends ../layouts/common

block content
    .container
        h1 Create new product
        form(action="/admin/create" method="POST" enctype="multipart/form-data")
            input.mb-2(name="name", placeholder="Product name")
            br
            input.mb-2(name="desc", placeholder="Description")
            br
            input.mb-2(name="price", placeholder="Price")
            br
            input.mb-2(name="color", placeholder="Color")
            br
            input.mb-2(name="category", placeholder="Category")
            br
            input.mb-2(name="type", placeholder="Type(Sweater/Tees/CrossBag)")
            br 
            input.mb-2(name="colorPicker", placeholder="Array, of, colors")
            br
            input.mb-2(name="sale", placeholder="true/false", value= "false")
            br
            input.mb-2(name="date", placeholder="DD/MM/YYYY", , value= new Date())
            br
            input(name="imageUrl", class="mb-2", type="file")
            br
            button(class="btn btn-primary") Create
        h1 Upload single product images
        form(action="/admin/create/uploadSinglePDImage" method="POST" enctype="multipart/form-data")
            input.mb-2(name="id", placeholder="Product ID")
            br
            input.mb-2(name="color", placeholder="Color")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            input(name="imageItem", class="mb-2", type="file")
            br
            button(class="btn btn-primary") Create
        h1  All products
        ul
            each product in products
                a(href= product._id)= product.name
                br

       
