extends ../layouts/common

block content

  h1 Create new book
  if errors
    each error in errors
      .alert.alert-danger= error
  form(action="/books/create" method="POST")
    input.mb-2(name="name", placeholder="Book name", value=values ? values.name : "")
    br
    input.mb-2(name="desc", placeholder="Book description", , value=values ? values.desc : "")
    br
    button(class="btn btn-primary") Create