head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
  // Font
  link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@800&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Questrial&display=swap', rel='stylesheet')
  // Additional CSS file
  link(rel="stylesheet", href="/css/fontawesome.min.css")
  link(rel="stylesheet", href="/css/all.min.css")
  link(rel="stylesheet", href="/css/main.css")
  link(rel="stylesheet", href="/css/page.css")
  title Kattie

.container-fluid
  .row.pre-header1 FREE SHIPPING ON ORDERS OVER $50
// Navigation
.container 
  .row
    a(href="/")
      img.logo-img(src='/images/logo-kattie.png')
.container
  .header-menu.flex-column.flex-md-row
    .menu-bar
      ul.menu-bar-list
        a(href='/new-arrivals')
          li.menu-bar-item NEW ARRIVALS
        a(href='/tops')
          li.menu-bar-item TOPS
        a(href='/dresses')
          li.menu-bar-item DRESSES
        a(href='/bottoms')
          li.menu-bar-item BOTTOMS
        a(href='/sales')
          li.menu-bar-item SALES
        a(href='/admin/create')
          li.menu-bar-item CONTACT US
    .profile-bar
      form(action="/search" method="GET")
        input.mr-3.search-btn(type='search', name='q', placeholder='Search')
      <i class="fas fa-minus"></i>
      a(href="/sign-in" class="menu-bar-list") Sign in
      <i class="fas fa-minus"></i>
      #minicart 
        i.fas.fa-shopping-bag#cart-icon
          span.cartCount 
        #cart.cart
            //- .cart-item
            //-  .cart-item-image
            //-   img(src='')
            //-  .cart-item-body
            //-     .cart-item-name Huyen 
            //-     .cart-item-quality Quanity:
            //-  .cart-item-currency $
            //-  .cart-item-price 80
            //- .cart-item.total-price
            //-   .cart-item-body.cart-total-name
            //-     .cart-item-
            //-   .cart-item-currency
            //-   .cart-price
block content
script(src="/js/client1.js")
  //- if user
  //-   a(href="/profile", style={color:"black"}) Profile
  //-   span &nbsp
  //-   img.rounded-circle(src= user.avatarUrl, width= "32", height="32")
  //-   p= user.name