head
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/custom.css')
nav.navbar.navbar-expand-lg.navbar-light.bg-secondary
  a.navbar-brand(href='#') CodersX
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/books')
          | Books 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/users') Users
      li.nav-item
        a.nav-link(href='/cart' id="cart")= "Cart(" + itemCount + ")"
      li.nav-item
        a.nav-link(href='/transactions/userTransaction') Transactions
  if user
    a(href="/profile", style={color:"black"}) Profile
    span &nbsp
    img.rounded-circle(src= user.avatarUrl, width= "32", height="32")
    p= user.name
.container.pt-3
  block content
  block page