extends ./layouts/common

block content
	.container
		.about-page
			.row
				.about-image.col-md-6.col-sm-12
					img(src="/images/about-us.jpg")
				.about-body.col-md-6.col-sm-12
					h1 About us
					p 
						span.span-bold Salter-Harris
						span Type IV physeal fracture of lower end of unspecified tibia, subsequent encounter for fracture with nonunion. Displaced midcervical fracture of unspecified femur, initial encounter for open fracture type IIIA, IIIB, or IIIC.
					br
					p Other fracture of left patella, subsequent encounter for closed fracture with nonunion. Perforation due to foreign body accidentally left in body following other procedure. Sprain of calcaneofibular ligament of left ankle, sequela
					br
					p
						span.span-bold Poisoning 
						span by selective serotonin and norepinephrine reuptake inhibitors, intentional self-harm, subsequent encounter. Stable burst fracture of T11-T12 vertebra
