* {
  box-sizing: border-box;
  color: #424242;
}
dl,
ol,
ul,
li,
img,
label,
form {
  margin: 0;
  list-style: none;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  color: #424242;
}
a:hover {
  text-decoration: none;
  color: #424242;
}
html,
body {
  font-family: "Questrial", sans-serif;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.font-15 {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: normal;
}
.font-6 {
  font-size: 21px;
  font-family: "Questrial", sans-serif;
  letter-spacing: 3px;
}
.font-7 {
  font-family: "Ubuntu", sans-serif;
  color: #424242;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}
.page-error {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 30px 30px 0;
  font-size: 24px;
  border: 1px solid #a79898;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.10);
  border-radius: 7px;
  background-color: #ccc;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1.5px;
} 
.fix-margin {
  height: 75px;
}
.free-ship {
  display: none;
}
.pre-header1 {
  text-align: center;
  justify-content: center;
  padding: 8px 0;
  background-color: #aebdac;
  color: #424242;
  letter-spacing: 3px;
  font-size: 15px;
}

/*Hambuger-menu*/
.header {
  padding: 17px 10px;
  border-bottom: 1px solid #eee;
  position: fixed;
  z-index: 99;
  background: #fff;
}
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo-div img {
  height: 40px;
}
.check-hamburger i {
  font-size: 26px !important;
}
.menu-bar {
  display: none;
}
.menu-bar-list a {
  text-decoration: none;
  color: #444;
}
.phone-menu-bar-modal {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 100%;
  z-index: 999;
  list-style: none;
  width: 100vw;
  height: 100vh;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.6s all;
}
.phone-menu-bar-open {
  visibility: visible;
  transform: translateX(100%);
}
.phone-menu-bar-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  background-color: white;
}
.phone-search-btn {
  width: 100%;
  border: none;
  background-color: #8f968b4d;
  height: 40px;
  outline: none;
  margin-top: 20px;
  padding: 15px;
}
.phone-menu-bar-container li {
  border-bottom: 1px solid #DDD;
  padding: 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.phone-menu-bar-container li i {
  color: #888;
}
/**/

.header-menu .profile-bar { 
  display: flex;
  align-items: center;
}
.header-menu .profile-bar i {
  font-size: 34px;
  color: #404040;
}
.header-menu .profile-bar .small-icon {
  font-size: 15px;
}
.desktop-search-btn {
  display: none;
}
.fa-minus {
  opacity: 0.7;
  font-size: 18px !important;
  transform: rotate(90deg);
}
.sign-in {
  font-size: 14px;
  cursor: pointer;
}
/*Sign in modal*/
.signin-modal {
  display: none;
  position: fixed;
  z-index: 1;
  margin: 0 auto;
  padding-top: 90px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.6);
}
.signup-page {
  display: block;
}
.signin-container {
  display: flex;
  margin: auto;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
  background: #fff;
}
.signup-container {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top: 50px;
}
.signin-left {
  padding: 30px 20px 20px;
  background: #fff;
  flex: 0 0 100%;
}
.signin-right {
  display: none;
  flex-grow: 1;
  position: relative;
}
.signin-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signin-title {
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  color: #55311c;
}
.signin-desc {
  margin: 6px 0 30px 0;
}
.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
.input-block-wrong {
  border: 1px solid #a72222;
  color: #a72222;
  font-style: italic;
}
.input-block input {
  outline: none;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}
.input-block input::placeholder {
  color: #ccc;
}
.input-block:focus-within {
  border-color: #8c7569;
}
.input-block:focus-within .input-label {
  color: rgba(#8c7569, 0.8);
}
.input-block .input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
}
.signin-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signin-buttons a {
  color: #333333aa;
  font-size: 14px;
  text-decoration: underline;
}
.login-button {
  padding: 4px 15px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #8c7569;
  transition: 0.3s;
  cursor: pointer;
}
.login-button:hover {
  background: #55311c;
}
.signup {
  margin: 40px 0 0;
  font-size: 14px;
  text-align: center;
}
.signup a {
  color: #8c7569;
}
.signup a:hover {
  text-decoration: underline;
}
.icon-button {
  outline: none;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: none;
  background: 0;
  padding: 0;
  cursor: pointer;
}

/*Signed-user*/

.user-avatar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.user-account {
  position: relative;
  cursor: pointer;
}
.user-option {
  display: none;
}
.user-option-clicked {
  display: block;
}
.user-option-wrapper {
  position: absolute;
  width: 160px;
  background-color: #FFF;
  border: 1px solid #ddd;
  right: -20px;
  top: 120%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 1px;
  box-sizing: border-box;
  z-index: 9;
}
.user-option-wrapper li {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #424242;
}
.user-option-wrapper li:hover {
  background-color: #ddd;
}
/*Cart*/
#minicart {
  position: relative;
}
#cart-icon {
  padding: 0;
  font-size: 24px;
}
.cart {
  position: absolute;
  top: 160%;
  right: -50%;
  visibility: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
  font-family: "Questrial", sans-serif;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.show-cart {
  visibility: visible;
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.cartCount {
  font-size: 10px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}
.cart-item {
  display: flex;
  flex-direction: row;
  width: 300px;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  height: 60px;
  line-height: 1;
  box-sizing: border-box;
}
.cart-item:hover {
  background-color: #ddd;
}
.cart-item a:hover {
  cursor: pointer;
}
.cart-item-image {
  flex: 0 0 49px;
}
.cart-item img {
  width: 49px;
  height: 49px;
  object-fit: cover;
}
.cart-item .cart-item-body {
  flex-grow: 1;
  margin: 0 10px;
}
.cart-item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item-name {
  margin-bottom: 10px;
}
.cart-item-quantity {
  font-size: 10px;
}
.cart-item-currency , .cart-item-price {
  align-self: center;
}
.mini-delete-btn {
  flex: 0 0 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  transition: 0.3s all;
}
.mini-delete-btn:hover {
  background-color: #ca5c5c;
}
.mini-delete-btn i {
  font-size: 9px !important;
}
.mini-price {
  flex: 0 0 30px;
}
.total-price {
  font-weight: bold;
  font-size: 18px;
  height: 60px;
  align-items: center;
}

/*Description banner*/

.banner {
  position: relative;
  margin-bottom: 20px;
  background-image: url("/images/banner-phone.jpg");
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-body {
  position: absolute;
  text-align: center;
  right: 50%;
  top: 5%;
  transform: translateX(50%);
  width: 80%;
}
.banner-body h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: normal;
}
.banner-body h2 {
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 3px;
}
.banner-body p {
  font-size: 16px;
  font-family: "Questrial", sans-serif;
  letter-spacing: 3px;
}
.banner-body a {
  background-color: #8e5d54;
  color: white;
  font-size: 14px;
  padding: 12px 10px;
  text-decoration: none;
  transition: 0.3s;
}
.banner-body a:hover {
  background-color: #ca8376;
  transition-property: border-color, background-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: cubic-bezier(0.65, 0.15, 0.25, 1), ease;
  transition-delay: 0s, 0s;
}

/*Start 3 categories*/
.home-categories-list {
  text-align: center;
}
.home-categories-list .image {
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  /*max-width: 100%;*/
}
.home-categories-list .image-1 {
  background-image: url("/images/categories-1.jpg");
}
.home-categories-list .image-2 {
  background-image: url("/images/categories-2.jpg");
}
.home-categories-list .image-3 {
  background-image: url("/images/categories-3.jpg");
}
.font-10 {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.5em;
}

/*Start divider*/
.divider {
  width: 72%;
  margin: 40px auto 10px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
 
}

/*Start Trending now*/
.home-header {
  text-align: center;
  color: #576855;
  margin: 20px auto 40px;
}
.font-11 {
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 4px;
  line-height: normal;
}
.trending-list {
  text-align: center;
}
.trending-list .image {
  background-size: cover;
  height: 160px;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  background-position: center;
}
.trending-list .image-4 {
  background-image: url("https://res.cloudinary.com/huyendxnkgd/image/upload/v1593013282/kattie/tops/2020-08-08T18:43:37.379Z");
}
.trending-list .image-5 {
  background-image: url("https://res.cloudinary.com/huyendxnkgd/image/upload/v1593013282/kattie/tops/2020-08-11T12:40:30.453Z");
}
.trending-list .image-6 {
  background-image: url("/images/trending-5.jpg");
}
.trending-list .image-7 {
  background-image: url("/images/trending-6.jpg");
}
.trending-item {
  font-size: 14px;
}
/*Most-view*/
.view-item {
  margin-bottom: 30px;
}
/*Show more and separate line*/
/*.container .button-shop {
    position: relative;
    padding-bottom: 50px;
}
.container .button-shop .button-hover {
    font-family: 'Questrial', sans-serif;
    border: 2px solid rgb(66, 66, 66, 0.8);
    border-radius: 5px;
    color: rgb(66, 66, 66, 0.8);
    padding: 8px 16px; 
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.container .button-shop .button-hover:hover {
    background-color: #424242;
    color: white;
}*/

/*Start footer*/
.seperate-line {
  height: 2px;
  width: 80%;
  background-color: rgb(66, 66, 66, 0.8);
  margin: 74px  auto 24px;
}
.font-7 {
  font-family: "Ubuntu", sans-serif;
  color: #424242;
}
.container .menu-list-bottom {
  list-style: none;
  padding-left: 0;
  align-items: flex-start;
}
.container .menu-list-bottom a {
  text-decoration: none;
  color: #424242;
}
.container .menu-list-bottom {
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  padding: 10px 0;
}
.container .menu-list-bottom a:hover {
  color: #888;
}

.container .menu-item-bottom {
  align-items: flex-start;
  padding: 7px 0;
}
.label-bottom {
  font-size: 17px;
  font-weight: bold;
}
.row .subscribe input {
  border: 3px solid #8494ad;
  width: 100%;
  padding: 5px 10px;
  font-size: 13px;
  margin: 5px 0;
  outline: none;
}
.row .button-effect {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid rgba(87, 104, 85, 1);
  letter-spacing: 3px;
  width: 200px;
  height: 45px;
  background-color: rgba(87, 104, 85, 1);
  color: white;
  transition: 0.5s;
}
.row .button-effect:hover {
  color: #424242;
  background-color: rgba(210, 222, 209, 1);
  border-color: rgba(0, 0, 0, 0);
  transition-property: border-color, background-color;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: cubic-bezier(0.65, 0.15, 0.25, 1), ease;
  transition-delay: 0s, 0s;
}

.row .subscribe .button-effect {
  width: 100%;
}
