.page-body {
  /*-webkit-box-flex: 1;
    -ms-flex: 1 0 auto;*/
  display: flex;
  border-top: 1px solid #eee;
  margin-top: 5px;
}

.refinement-bar {
  margin-top: 20px;
  flex: 0 0 230px;
  /*flex-basis: 230px;*/
  /*original flex-basic: 230px but after put .row in product-showroom, it minimizes smaller to 100px
	so it has to be 530px to minimize to 230px*/
}
.refinement-card {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.refinement-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  padding: 10px 0px;
  margin: 10px 20px;
}
.refinement-header {
  font-weight: 900;
  font-size: 14px;
}
.refinement-clear {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.refinement-clear-text {
  font-size: 10px;
  padding-right: 3px;
}
.refinement-clear-icon {
  font-size: 9px;
}
.refinement-scroll-body {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.refinement-item {
}
.custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}

.custom-checkbox input {
  height: 15px;
  width: 15px;
}
.custom-checkbox label {
  padding-left: 20px;
}

/*Start product-showroom*/
.product-showroom {
  /*flex-grow: 1;*/
}
.product-wrapper {
  margin-top: 40px;
}
.product-carousel img {
  max-width: 100%;
}
.product-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-title-footer {
  width: 90%;
  transition: all 0.1s;
  visibility: hidden;
}
.add-to-cart {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.product-item:hover .product-title-footer {
  visibility: visible;
}
