.container-whole {
  padding-right: 10px;
  padding-left: 10px;
}
.page-body {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.phone-refinement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 0px;
}
.phone-refinement > div:hover span {
	color: #888;
}
.phone-refinement span {
  font-size: 14px;
	font-weight: bold;
	margin-right: 7px;
}
.phone-refinement i {
	font-size: 10px;
	color: #888;
}

.refinement-bar {
	position: relative;
}
.refinement-card {
	display: none;
	top: 20px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
	background-color: #fff;
	z-index: 1;
	width: 98%;
}
.refinement-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  padding: 10px 0px;
  margin: 10px 20px;
}
.refinement-header {
  font-weight: 900;
  font-size: 14px;
}
.refinement-clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3 all;
  transform: scale(1);
}
.refinement-clear:hover {
  transform: scale(1.2)
}
.refinement-clear-text {
  font-size: 10px;
  padding-right: 3px;
}
.refinement-clear-icon {
  font-size: 9px;
}
.refinement-scroll-body {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.refinement-item {
}
.custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.custom-checkbox input {
  width: 15px;
}
.custom-checkbox label {
  padding-left: 20px;
}
.custom-checkbox label:hover {
  color: #000;
}
/*Start product-showroom*/
.no-product {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 30px;
  border: 1px solid #a79898;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.10);
  border-radius: 7px;
  background-color: #ccc9;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}
.product-showroom {
  overflow: hidden;
  flex-grow: 1;
}
.product-wrapper {
  margin-top: 40px;
}
.product-item {
  transition: all 500ms;
}
.product-carousel {
  overflow: hidden;
  position: relative;
}
.product-carousel img {
  transition: all 500ms;
  max-width: 100%;
}

.add-to-cart {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 50px;
  background-color: rgb(158, 151, 152);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  visibility: hidden;
}
.product-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}
.product-title-body {
  margin-bottom: 30px;
  margin-top: 10px;
}
.product-title-name {
  font-size: 12px;
}
.product-title-price {
  color: #847a7a;
  font-size: 12px;
}

/*contact us*/
.about-page {
  display: flex;
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 50px;
}
.about-page h1 {
  font-weight: bold;
  margin-top: 30px;
}
.about-page .span-bold {
  font-weight: bold;
  font-size: 18px;
}
