.page-body {
  display: flex;
  border-top: 1px solid #eee;
  margin-top: 5px;
}

.refinement-bar {
  margin-top: 20px;
  flex: 0 0 230px;
  /*flex-basis: 230px;*/
  /*original flex-basic: 230px but after put .row in product-showroom, it minimizes smaller to 100px
	so it has to be 530px to minimize to 230px*/
}
.refinement-card {
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.refinement-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
  padding: 10px 0px;
  margin: 10px 20px;
}
.refinement-header {
  font-weight: 900;
  font-size: 14px;
}
.refinement-clear {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3 all;
  transform: scale(1);
}
.refinement-clear:hover {
  transform: scale(1.2)
}
.refinement-clear-text {
  font-size: 10px;
  padding-right: 3px;
}
.refinement-clear-icon {
  font-size: 9px;
}
.refinement-scroll-body {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}
.refinement-item {
}
.custom-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
}
.custom-checkbox input {
  height: 15px;
  width: 15px;
}
.custom-checkbox label {
  padding-left: 20px;
}
.custom-checkbox label:hover {
  color: #000;
}
/*Start product-showroom*/
.no-product {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  font-size: 30px;
  border: 1px solid #a79898;
  box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.10);
  border-radius: 7px;
  background-color: #ccc9;
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.product-showroom {
  flex-grow: 1;
}
.product-wrapper {
  margin-top: 40px;
}
.product-item {
  transition: all 500ms;
}
.product-carousel {
  overflow: hidden;
  position: relative;
}
.product-carousel img {
  transition: all 500ms;
  max-width: 100%;
}
.add-to-cart {
  position: absolute;
  width: 100%;
  top: 100%;
  height: 50px;
  background-color: rgb(158, 151, 152);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms;
  visibility: hidden;
}
.add-to-cart:hover {
  background-color: #aba7a7;
}
.product-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-item:hover .add-to-cart {
  visibility: visible;
  transform: translateY(-100%);
}
.product-item:hover .product-carousel img {
  transform: scale(1.3) translateY(-10%);
}
.product-title-body {
  margin-bottom: 30px;
  margin-top: 15px;
}
.product-title-price {
  color: #847a7a;
}

/*contact us*/
.about-page {
  display: flex;
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 50px;
}
.about-page h1 {
  font-weight: bold;
}
.about-page .span-bold {
  font-weight: bold;
  font-size: 18px;
}
