.flex-page {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
.product-gallery {
  flex: 0 0 60%;
}
.item-showroom {
  margin-left: 20px;
  margin-right: 20px;
}
.item-showroom .row {
  display: none;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider-image {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(8, 100%);
  grid-gap: 20px;
  position: relative;
  transition: all 0.6s;
}
.slider-image .image-item {
  position: relative;
  overflow: hidden;
}
.slider-image .image-item img{
  width: 100%;
  object-fit: contain;
}
#prev, #next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  font-size: 30px;
  z-index: 1;
}
#prev {
  left: 0;
}
#next {
  right: 0;
}
#prev i , #next i {
  color: #BBB;
}

.product-detail {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.product-detail .pd-title {
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
}
.pd-price {
  font-size: 18px;
  margin-bottom: 30px;
  color: rgba(0, 0 ,0, 0.5);
}
.pd-desc {
  font-size: 14px;
  margin-bottom: 30px;
}
.pd-desc-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.pd-desc-body {
  padding-left: 10px;
}
.pd-colors {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.custom-pd-color {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
}
.product-bag {
  margin-top: 40px;
  border: 1px solid #ddd;
  background-color: #333030;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
}
.product-bag:hover {
  background-color: #333030d9;
}
.color-item {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #000;
  margin-right: 10px;
  cursor: pointer;
}
.color-item:hover {
  transform: scale(1.2);
}
.color-item-Black {
  background-color: #000;
}
.color-item-White {
  background-color: #fff;
}
.color-item-Orange {
  background-color: orange;
}
.color-item-Pink {
  background-color: pink;
}
.color-item-Blue {
  background-color: #577fff;
}
.color-item-Grey {
  background-color: grey;
}
