.flex-page {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  border-top: 1px solid #eee;
}
.product-gallery {
  flex: 0 0 60%;
}
.item-showroom {
  /*margin-top: 20px;*/
}
.image-item {
  padding: 10px 5px;
}
.product-detail {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.product-detail .pd-title {
  font-size: 24px;
  font-weight: 900;
  margin-top: 20px;
}
.pd-price {
  font-size: 18px;
  margin-bottom: 50px;
}
.pd-desc {
  font-size: 14px;
  margin-bottom: 20px;
}
.pd-desc-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.pd-desc-body {
  padding-left: 10px;
}
.pd-colors {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.custom-pd-color {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 5px;
}
.color-item {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #000;
  margin-right: 10px;
  cursor: pointer;
}
.color-item:hover {
  transform: scale(1.2);
}
.color-item-Black {
  background-color: #000;
}
.color-item-White {
  background-color: #fff;
}
.color-item-Orange {
  background-color: orange;
}
.color-item-Pink {
  background-color: pink;
}
.color-item-Blue {
  background-color: blue;
}
.color-item-Grey {
  background-color: grey;
}
