extends ../layouts/common

block content
	.container-fluid
		.page-body
			.refinement-bar
				.refinement-card
					.refinement-heading
						span.refinement-header Bags
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-crossbody(type="checkbox" data-ref="typeGroup" data-refType="Crossbody")
								label(for="refinement-crossbody" class="refinement-sub")
									span Crossbodys
							.custom-checkbox
								input#refinement-handbag(type="checkbox" data-ref="typeGroup" data-refType="Handbag")
								label(for="refinement-handbag" class="refinement-sub")
									span Handbags
							.custom-checkbox
								input#refinement-backpack(type="checkbox" data-ref="typeGroup" data-refType="Backpack")
								label(for="refinement-backpack" class="refinement-sub")
									span Backpacks
				.refinement-card
					.refinement-heading
						span.refinement-header Color
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-black(type="checkbox" data-ref="colorGroup" data-refColor="Black")
								label(for="refinement-black" class="refinement-sub")
									span Black
							.custom-checkbox
								input#refinement-white(type="checkbox" data-ref="colorGroup" data-refColor="White")
								label(for="refinement-white" class="refinement-sub")
									span White
							.custom-checkbox
								input#refinement-orange(type="checkbox" data-ref="colorGroup" data-refColor="Orange")
								label(for="refinement-orange" class="refinement-sub")
									span Orange
							.custom-checkbox
								input#refinement-pink(type="checkbox" data-ref="colorGroup" data-refColor="Pink")
								label(for="refinement-pink" class="refinement-sub")
									span Pink	
				.refinement-card
					.refinement-heading
						span.refinement-header Price
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-price1(type="radio" name="price" data-ref="priceGroup" data-refPrice1="20" data-refPrice2="50")
								label(for="refinement-price1" class="refinement-sub")
									span "AU$20 to AU$50"
							.custom-checkbox
								input#refinement-price2(type="radio" name="price" data-ref="priceGroup" data-refPrice1="50" data-refPrice2="99")
								label(for="refinement-price2" class="refinement-sub")
									span "AU$50 to AU$99"
							.custom-checkbox
								input#refinement-price3(type="radio" name="price" data-ref="priceGroup" data-refPrice1="100" data-refPrice2="200")
								label(for="refinement-price3" class="refinement-sub")
									span "AU$100 and above"
			.product-showroom
				.product-wrapper
					#row.row
						each top in tops
							.product-item.col-4(data-page-number="0" data-product-details={"id": top._id, "name": top.name, "price": top.price, "imageUrl": top.imageUrl, "color": top.color})
								.product-carousel
									a(href="/tops/" + top.id)
										img(src=top.imageUrl)
								.product-title-body
									a(href="/tops/" + top.id, class= "product-title-name")= top.name
										a(href="/tops/" + top.id)
									.product-title-price= "AU$" + top.price + ".00"
								.product-title-footer
									.product-title-color
									.add-to-cart Add to bag

						