extends ../layouts/common

block content
	.page-body
		.refinement-bar
			.refinement-wrapper
				.refinement-card
					.refinement-header Tops
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item Sweater
						.refinement-item Tank Tops
				.refinement-card
		.product-showroom