extends ../layouts/common

block content
	.container-fluid
		.page-body
			.refinement-bar
				.refinement-card
					.refinement-heading
						span.refinement-header Tops
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-tees(type="checkbox")
								label(for="refinement-tees" class="refinement-sub")
									span Tees
							.custom-checkbox
								input#refinement-sweater(type="checkbox")
								label(for="refinement-sweater" class="refinement-sub")
									span Sweater
							.custom-checkbox
								input#refinement-jacket(type="checkbox")
								label(for="refinement-jacket" class="refinement-sub")
									span Jacket
							.custom-checkbox
								input#refinement-blazer(type="checkbox")
								label(for="refinement-blazer" class="refinement-sub")
									span Blazer
				.refinement-card
					.refinement-heading
						span.refinement-header Color
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-black(type="checkbox")
								label(for="refinement-black" class="refinement-sub")
									span Black
							.custom-checkbox
								input#refinement-white(type="checkbox")
								label(for="refinement-white" class="refinement-sub")
									span White
							.custom-checkbox
								input#refinement-orange(type="checkbox")
								label(for="refinement-orange" class="refinement-sub")
									span Orange
							.custom-checkbox
								input#refinement-pink(type="checkbox")
								label(for="refinement-pink" class="refinement-sub")
									span Pink	
				.refinement-card
					.refinement-heading
						span.refinement-header Price
						span.refinement-clear
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-price1(type="checkbox")
								label(for="refinement-price1" class="refinement-sub")
									span "$20 to $50"
							.custom-checkbox
								input#refinement-price2(type="checkbox")
								label(for="refinement-price2" class="refinement-sub")
									span "$50 to $99"
							.custom-checkbox
								input#refinement-price3(type="checkbox")
								label(for="refinement-price3" class="refinement-sub")
									span "$100 and above"
			.product-showroom
				.product-wrapper
					.row
						each top in tops
							.product-item.col-4(data-page-number="0" data-product-details={"id": top._id, "name": top.name, "price": top.price, "imageUrl": top.imageUrl})
								.product-carousel
									a(href="/tops/" + top.id)
										img(src=top.imageUrl)
								.product-title-body
									a(href="/tops/" + top.id, class= "product-title-name")= top.name
										a(href="/tops/" + top.id)
									.product-title-price= "AU$" + top.price + ".00"
								.product-title-footer
									.product-title-color
									.add-to-cart Add to bag

						