extends ../layouts/common

block content

  h1
    span Users list
    a.btn.btn-primary.float-right(href="/users/create") Create new user
  table.table
    tr
      th Name
      th Age
      th Action
    each user in users
      tr
        td
          img(src= user.avatarUrl, width="32")
        td= user.name
        td= user.age
        td
          a.btn.btn-secondary(href="/users/view/" + user.id) View