extends ../layouts/common

block content
  h1 Your profile
  if errors
    each error in errors
      .alert.alert-danger= error
  form(action="/profile" method="POST" enctype="multipart/form-data")
    label(for="name") Name
    br
    input(id="name" name="name", class="mb-2", placeholder= user.name)
    br
    label(for="avatar") Avatar
    br
    input(id="avatar" name="avatar", class="mb-2", type="file")
    br
    button(class="btn btn-primary") Change
