extends ../layouts/common

block content

  h1
    span All transactions
    a.btn.btn-primary.float-right(href="/transactions/create") New transaction
  table.table
    tr
      th Name
      th Description
      th Action
    each book in booksList
      tr
        td= book.name
        td= book.desc
        td
          a.btn.btn-secondary(href="/transactions/book/" + book.id) Rent history