extends ../layouts/common

block content

  h1 History
  p This book is rented by
  table.table
    tr
      th Name
      th Status
      th Action
    each user, index in users
      tr
        td= user.name
        td
          a(href="/transactions/book/" + transactionId[index] + "/complete")= returnStatus[index]
        td
          a(href="/users/view/" + user.id) User profile
  a(href="/transactions") Back