extends ../layouts/common

block content
	.container-fluid
		.page-body
			.refinement-bar
				.refinement-card
					.refinement-heading
						span.refinement-header Bottoms
						.refinement-clear(data-ref="typeGroup" data-group="type")
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-pant(type="checkbox" data-ref="typeGroup" data-refType="Pant")
								label(for="refinement-pant" class="refinement-sub")
									span Pants
							.custom-checkbox
								input#refinement-jumpsuit(type="checkbox" data-ref="typeGroup" data-refType="Jumpsuit")
								label(for="refinement-jumpsuit" class="refinement-sub")
									span Jumpsuits
							.custom-checkbox
								input#refinement-skirt(type="checkbox" data-ref="typeGroup" data-refType="Skirt")
								label(for="refinement-skirt" class="refinement-sub")
									span Skirts
				.refinement-card
					.refinement-heading
						span.refinement-header Color
						.refinement-clear(data-ref="colorGroup" data-group="color")
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-black(type="checkbox" data-ref="colorGroup" data-refColor="Black")
								label(for="refinement-black" class="refinement-sub")
									span Black
							.custom-checkbox
								input#refinement-white(type="checkbox" data-ref="colorGroup" data-refColor="White")
								label(for="refinement-white" class="refinement-sub")
									span White
							.custom-checkbox
								input#refinement-orange(type="checkbox" data-ref="colorGroup" data-refColor="Orange")
								label(for="refinement-orange" class="refinement-sub")
									span Orange
							.custom-checkbox
								input#refinement-pink(type="checkbox" data-ref="colorGroup" data-refColor="Pink")
								label(for="refinement-pink" class="refinement-sub")
									span Pink
							.custom-checkbox
								input#refinement-blue(type="checkbox" data-ref="colorGroup" data-refColor="Blue")
								label(for="refinement-blue" class="refinement-sub")
									span Blue	
				.refinement-card
					.refinement-heading
						span.refinement-header Price
						.refinement-clear(data-ref="priceGroup" data-group="price")
							span.refinement-clear-text Clear
							i(class="fas fa-times refinement-clear-icon")
					.refinement-selected-values
					.refinement-scroll-body
						.refinement-item
							.custom-checkbox
								input#refinement-price1(type="radio" name="price" data-ref="priceGroup" data-refPrice1="20" data-refPrice2="50")
								label(for="refinement-price1" class="refinement-sub")
									span "AU$20 to AU$50"
							.custom-checkbox
								input#refinement-price2(type="radio" name="price" data-ref="priceGroup" data-refPrice1="50" data-refPrice2="99")
								label(for="refinement-price2" class="refinement-sub")
									span "AU$50 to AU$99"
							.custom-checkbox
								input#refinement-price3(type="radio" name="price" data-ref="priceGroup" data-refPrice1="100" data-refPrice2="200")
								label(for="refinement-price3" class="refinement-sub")
									span "AU$100 and above"
			.product-showroom
				.product-wrapper
					#row.row
						each product in products
							.product-item.col-4(data-page-number="0" data-product-details={"id": product._id, "name": product.name, "price": product.price, "imageUrl": product.imageUrl, "color": product.color})
								.product-carousel
									a(href="/product/" + product.id)
										img(src=product.imageUrl)
									.add-to-cart Add to bag
								.product-title-body
									a(href="/product/" + product.id, class= "product-title-name")= product.name
										a(href="/product/" + product.id)
									.product-title-price= "AU$" + product.price + ".00"
								//- .product-title-footer
						//- .no-product.col-11 No matched product

						